{
    "providers": {
        "luchen": {
            "name": "潞晨云",
            "url": "https://cloud.luchentech.com/api/maas/chat/completions",
            "model_name": "deepseek_r1",
            "api_keys": {
                "key1": {
                    "name": "DeepSeek-1",
                    "key": "your-api-key-1"
                },
                "key2": {
                    "name": "DeepSeek-2",
                    "key": "your-api-key-2"
                }
            }
        },
        "deepseek": {
            "name": "deepseek",
            "url": "https://api.deepseek.com/v1/chat/completions",
            "model_name": "deepseek-reasoner",
            "api_keys": {
                "key1": {
                    "name": "key-1",
                    "key": "your_key"
                }
            }
        }

    }
} 